.home{
  grid-row-start: 2;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 11;
}

/* .container{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10,10%);
} */


/* .sidebar{
  grid-row-start: 2;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 3;
}

.chat{
  grid-row-start: 2;
  grid-row-end: 11;
  grid-column-start: 6;
  grid-column-end: 11;
} */

.userChat{
  background-color:  #f6c7da;
}

.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.logo {
  color: rgb(241, 90, 90);
  font-weight: bold;
  font-size: 24px;
}

.title {
  color: rgb(241, 90, 90);
  font-size: 12px;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(241, 90, 90);
  font-size: 12px;
  cursor: pointer;
}

.userChatInfo > p {
  color: #060606;
  font-size: small;
  margin-top: 10px;
}

.userChatInfo > span{
  color: rgb(241, 90, 90);
}

.home {
  /* background-color: #a7bcff; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid white;
  border-radius: 10px;
  width: 75%;
  height: 85%;
  display: flex;
  overflow: hidden;
  background-color: #f6c7da;
  }

.sidebar {
    flex: 1;
    background-color: #f29595;
    position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #f6c7da;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #080808;
}

.user {
  display: flex;
  gap: 10px;
}

.search {
  border-bottom: 1px solid gray;
}

.searchForm {
  padding: 10px;
}

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.userChat:hover{
  background-color:  #faaaca;
}

.userChatInfo  > span {
    font-size: 18px;
    font-weight: 500;
}

.chat {
  flex: 2;
}

.chatInfo {
  height: 50px;
  background-color: #f6c7da;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  color: rgb(11, 11, 11);
}

.chatIcons {
  display: flex;
  gap: 10px
}

.messages {
  background-color: #f9dde9;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.messageContent > p{
  color:  #000000;
  font-size: small;
  margin-top: 10px;
}

.message.false {
  flex-direction: row-reverse;
}

.messageContent {
  align-items: flex-end;
  background-color: rgb(251, 110, 110);
  color: white;
  border-radius: 10px 0px 10px 10px;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

/* img {
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
} */