/* .form {
    display: grid;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

div, button {
    grid-column-start: 2;
    grid-column-end: 5;
} */

.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown-input {
padding: 5px;
display: flex;
align-items: center;
justify-content: space-between;
user-select: none;
}

.dropdown-menu {
transform: translateY(4px);
border: 1px solid #ccc;
border-radius: 5px;
overflow: auto;
max-height: 150px;
background-color: #fff;
z-index: 99;
}

.dropdown-item {
padding: 5px;
cursor: pointer;
}

.dropdown-item:hover {
background-color: #9fc3f870;
}

.dropdown-item.selected {
background-color: #0d6efd;
color: #fff;
}

.dropdown-tags {
display: flex;
flex-wrap: wrap;
gap: 5px;
}

.dropdown-tag-item {
background-color: #ddd;
padding: 2px 4px;
border-radius: 2px;
/* display: flex; */
align-items: center;
}

.dropdown-tag-close { 
display: flex;
align-items: center;
} 
