.sectionOwner {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 11;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

h5 {
    font-size: 45px;
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 3;
}
#ownerInfoDisplay{
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 3;
    grid-row-end: 21;
    display: grid;
    grid-template-columns: repeat(10, 5%);
    grid-template-rows: repeat(10, 5%);
}

#ownerNameDisplay{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}

#specialtyDisplay{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}

#hoursDisplay{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}
#phoneDisplay{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
}

#phoneDisplay{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
}

#imageDisplay{
    grid-column-start: 11;
    grid-column-end: 21;
    grid-row-start: 5;
    grid-row-end: 6;
}

