/* body {
  display: flex;
}*/

  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-color: lightcoral;
  font-family: Arial, Helvetica, sans-serif;
}
